{% extends 'layout/basic.html' %}
{% block title %}Доска объявлений{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
    <h2>Добавление объявлений</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
{% else %}
    <p><a style ="display:inline" href="{% url 'login' %}">Войдите</a> в аккаунт или <a style="display:inline" href="{% url 'registration' %}">зарегистрируйтесь</a></p>
{% endif %}
{% endblock content %}