{% extends "layout/basic.html" %}
{% block title %}Удаление объявления{% endblock title %}
{% block content %}
<h2>Удаление объявления</h2>
<p>Рубрика: {{ bb.rubric.name }}</p>
<p>Товар: {{ bb.title }}</p>
<p>{{ bb.content }}</p>
<p>Цена: {{ bb.price }}</p>

{% if  user.username == bb.author or request.user.is_superuser %}
<form method ="post">
    {% csrf_token %}
    <input type="submit"  class='login__article__button'value="Удалить">
</form>
{% else %}
<p>У вас нет прав для удаления этой записи</p>
{% endif %}
{% endblock content %}