{% extends 'layout/basic.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'bboard/css/ad_detail.css' %}">{% endblock link %}
{% block title %}{{ bb.title }}{% endblock title %}
{% block content %}
<div class="article__inner">
    <div>
    <div class="article__inner__title">{{ bb.title }}</div>
    <p>Рубрика: <a style="display:inline" href = "{% url 'by_rubric' bb.rubric.pk %}" class='article__inner__link'><b>{{ bb.rubric.name }}</b></a></p>
    <div class="article__inner__image-container"><img class="article__inner__image" src="{{ bb.image.url }}" ></div>
    <div class="article__inner__info">
        <p style="font-size:14px;">Создано {{ bb.published|date:"d.m.Y H:i:s" }}</p><br>
        <div class=" article__inner__description__position">Адрес</div>
        <div class="article__inner__info__description">Адрес: {{ bb.place }}</div>
        <hr></hr>
        <div class=" article__inner__description__position">Описание</div>
        <div class="article__inner__info__description">{{ bb.content }}</div><br>
        <hr></hr>
        <div class=" article__inner__description__position">Номер телефона</div>
        <div class="article__inner__info__description">{{ bb.phone }}</div>

        {% if username == bb.author or request.user.is_superuser or request.user.is_staff %}
        <div class='settings-container'>
            <a class='settings' href="{% url 'update' pk=bb.pk %}">Изменить</a>
            <a class='settings' href="{% url 'delete' pk=bb.pk %}">Удалить</a>
        </div>
        {% endif %}

    </div>
</div>
    <div class='owner'>
        <div class='owner-container'>
        <div class='cost'>{{ bb.price }} Р</div>
        <div class='owner__item'> 
            <div class='owner__name'>
              <div class='username'>{{ bb.author }}, продавец</div>
            </div>
            </div>
</div>

    </div>
</div>
{% endblock content %}