{% extends 'layout/basic.html' %}
{% block title %}{{ current_rubric.name }}{% endblock title %}
{% block content %}
    <h2>Рубрика : {{ current_rubric.name }}</h2>
    {% if not bbs %}
        <p>В этой рубрике еще нет объявлений. Будьте первыми</p> 
    {% else %}
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <img style = "height:250px; width:250px;" src="{{ bb.image.url }}">
        <p>{{ bb.content }}</p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    </div>
    {% endfor %}
    {% endif %}
{% endblock content %}