{% extends 'layout/basic.html' %}
{% block title %}{{ current_rubric.name }}{% endblock title %}

{% block content %}

<p>Рубрика:  <a style="display:inline" class='article__inner__link' href = "{% url 'by_rubric' current_rubric.pk %}"><b>{{ current_rubric.name }}</b></a></h2></p>
    {% if not bbs %}
        <p>В этой рубрике еще нет объявлений. Будьте первыми</p> 
    {% else %}
    <div class='article'>
    {% for bb in bbs %}
    <div>
        <a class="article__ad__link"  href="{% url 'detail' pk=bb.pk %}"><div class="article__ad">
            <div class='article__ad__image-container'><img class="article__ad__image"src="{{ bb.image.url}}"></div>
            <div class="article__ad-container">
                <div  class="article__ad__price">{{ bb.price }} руб.</div >
            <div  class="article__ad__title">{{ bb.title }}</div >
            <div class="article__ad__place">{{ bb.place }}</div >
            
        </div>
        
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    </div></div></a>
    {% endfor %}
    </div>
    {% endif %}
{% endblock content %}
