{% extends 'layout/basic.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" type="text/css" href="{% static 'bboard/css/basic.css' %}">{% endblock link %}
{% block content %}
<div class="article">
    {% for bb in bbs %}
    <div class='article__ad__profile'>
        <h2 style="top:10px; left:150px;">{{ bb.title }}</h2>
        <p>Рубрика: <a style="display: inline;" href = "{% url 'by_rubric' bb.rubric.pk %}"><b>{{ bb.rubric.name }}</b></a></p>
        <div class="article__ad__image-container"><img class="article__ad__image"  src="{{ bb.image.url }}"></div>
        <div class="article__ad-container">
            <p style="font-size:12px;">{{ bb.published|date:"d.m.Y H:i:s" }}</p><br>
            <div>{{ bb.content }}</p><div>
            <div>Цена: {{ bb.price }}</div>
            {% if user.username == bb.author %}
            <a class='settings' href="{% url 'update' pk=bb.pk %}">Изменить</a>
            <a class='settings' href="{% url 'delete' pk=bb.pk %}">Удалить</a>
            {% endif %}
        </div>
    </div>
    </div>
</div>
</div>
    <br>
    {% endfor %}
    <b><a href="{% url 'logout' %}">Выйти</a></b>
{% endblock %}