a{
    color:black;
    display: block;
    margin: 10px 0px;
    text-decoration:none;
}

    
nav{
    background-color: darkgray;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding:30px 70px 30px 0;
}
nav a,p{
    margin:0 15px 0;
}
.nav__icon{
    position:absolute;
    height: 108px;
    left:331px;
    top:35px;
    width: 108px;
}
.header__add-button{
    position: absolute;
    color:white;
    padding:20px 38px;
    left: 1200px;
    top: 89px;
    background: #00AAFF;
    border-radius: 25px;    
}
.header__slogan{
    position: absolute;
    left: 306px;
    top: 189px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
}

.header__categories{
    z-index:20;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    border-radius: 25px;
    position: absolute;
    left: 306px;
    top: 269px;
    display:table;
}
.header__categories__button{
    padding:9px 45px;
    background: #00AAFF;
    border-radius: 25px;
}
.header__categories__list__unit{
    margin-top:-10px;
    position: relative;
    color:white;
    text-align: center;
    top: 100%;
    left:0;
    width: auto;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.header__categories:hover .header__categories__list__unit{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    padding:10px 25px;
}
.header__categories:hover{
    background: #00AAFF;
}
.header__search{
    height:300px;
}
.header__search__inner{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 577px;
    top: 269px;
    outline:none;
    padding:0 15px;
    border-radius: 25px;
}
.header__search__inner__button{
    cursor:pointer;
    position: absolute;
    color:white;
    left: 1150px;
    top: 267px;
    border:0;
    background: #00AAFF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding:20px 42px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

body{
    margin:0px;
}
footer{
    min-height:120px;
}