{% extends 'layout/basic.html' %}
{% block title %}Вход{% endblock title %}
{% block content %}
<div class="login__form">
<h2 class='login__header'>Вход</h2>
{% if user.is_authenticated %}
<p>Вы уже выполнили вход</p>
{% else %}

<form method="post" class='login'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="text" value="{{ next }}">
    <div class='login__button__container'><button class="login__article__button"><input  type="submit" value="Войти" class="login__article__button__input"></button>
    <a href="{% url 'registration' %}" class="login__form__registration">Регистрация</a></div>
</form>
</div>
{% endif %}
{% endblock %}
