aside{
    font-size: 16pt;
    width:150px;
    float: left;
    margin-right:10px;
    border:1px solid;
}
a{
    color:black;
    display: block;
    margin: 10px 0px;
    text-decoration:none;
}
section{
    margin-left: 170px;
}
body{
    padding: 10px;
}